*
!*/
!*.py

# /.vs
# /Binaries
# /Content
# /DerivedDataCache
# /Intermediate
# /Saved
# /*.gitattributes
# /*.gitignore
# /*.vsconfig
# /*ActionRoguelike.sln
# /*ActionRoguelike.uproject

# /.gitignore
# /ActionRoguelike.sln
# /Saved/Logs/ActionRoguelike.log
# /Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
# /.gitignore
# /.gitignore
